@page "/ConsultaAsignaturas"

<h3>ConsultaAsignaturas</h3>


@if (Asignaturas == null)
{
    <p>No hay datos</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Asignaturas</th>
                <th>Codigo</th>
                <th>Creditos</th>
                <th>Descripcion</th>
                <th>EstudianteId</th>
                <td>PreRequisitos</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Asignaturas)
            {
                <tr>
                    <td>@item.AsignaturaId</td>
                    <td>@item.Codigo</td>
                    <td>@item.Creditos</td>
                    <td>@item.Descripcion</td>
                    <td>@item.EstudianteId.</td>
                    <td>@item.PreRequisitos</td>
                    <td><a class="btn btn-outline-success" href="Estudiantes/@item.EstudianteId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
}



@code {

    List<Asignaturas> Asignaturas = new List<Asignaturas>();
    AsignaturasControllers AsignaturasControllers = new AsignaturasControllers();

    protected override void OnInitialized()
    {
        Asignaturas = AsignaturasControllers.GetList(p => true);
    }




}
